<section id="{{ content.id }}" class="c-full_page_banner" style="background-image: url('{{ content.background_image.url }}'); height: {{ content.make_full_page ? '100vh' : 'auto'  }}">
    <div class="o-container">
        <h2>{{ content.title }}</h2>
        <p>{{ content.content }}</p>
    </div>
</section>