{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{# HEADER #}
		{% block header %}
			{% include "header.twig" %}
			{% include 'country-modal.twig' %}
		{% endblock %}
		{# END HEADER #}


		{% set id = function('get_the_id') %}
		{% set id = function('get_post_thumbnail_id', id) %}
		<section id="content" role="main" class="content-wrapper" style="background-image: url(http://niwi-international.test/app/uploads/2019/07/background-logo.png);">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
